:root {
    --colors-kmrBlack-50: #414141;
    --colors-kmrBlack-100: #333;
    --colors-kmrGray-75: #c1c1c1;
    --colors-kmrWhite-100: #f4f4f4;

    --colors-tarkovYellow-50: #dbc59c;
    --colors-tarkovYellow-100: #877f70;
    --colors-tarkovBullet-none: #cf0b04;
    --colors-tarkovBullet-verybad: #dc3b07;
    --colors-tarkovBullet-bad: #ea6b0a;
    --colors-tarkovBullet-belowaverage: #f99d10;
    --colors-tarkovBullet-average: #c0b825;
    --colors-tarkovBullet-good: #87d43d;
    --colors-tarkovBullet-best: #4cf057;

    --radius-8: 0.5rem;

    --gap-5: 0.3125rem;
    --gap-10: 0.625rem;
    --gap-16: 1rem;
    --gap-20: 1.25rem;

    --font-size-10: 0.625rem;
    --font-size-16: 1rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;

    --transition-24-all: 0.24s;

    --header-height-60: 60px;

    --font-family-roboto: "Roboto", sans-serif;
    --font-family-bender-light: "Jovanny Lemonad - Bender-Light.otf", sans-serif;
    --font-family-bender-medium: "Jovanny Lemonad - Bender.otf", sans-serif;
    --font-family-bender-italic: "Jovanny Lemonad - Bender-Italic.otf",
        sans-serif;
    --font-family-bender-bold: "Jovanny Lemonad - Bender-Bold.otf", sans-serif;
    --font-family-bender-bold-italic: "Jovanny Lemonad - Bender-BoldItalic.otf",
        sans-serif;
    --font-family-bender-black: "Jovanny Lemonad - Bender-Black.otf", sans-serif;
    --font-family-bender-black-italic: "Jovanny Lemonad - Bender-BlackItalic.otf",
        sans-serif;
}

/* 
    1rem = 16px
    0.5rem = 8px
    1.25rem = 20px
    1.5rem = 24px
    40px = 2.5rem
    10px = 0.625rem
    20px = 1.25rem

*/

* {
    font-family: var(--font-family-bender-medium);
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--colors-tarkovYellow-100);
}

nav.navigation {
    display: none !important;
}

.best {
    color: var(--colors-tarkovBullet-best) !important;
}
.good {
    color: var(--colors-tarkovBullet-good) !important;
}
.average {
    color: var(--colors-tarkovBullet-average) !important;
}
.belowaverage {
    color: var(--colors-tarkovBullet-belowaverage) !important;
}
.bad {
    color: var(--colors-tarkovBullet-bad) !important;
}
.verybad {
    color: var(--colors-tarkovBullet-verybad) !important;
}
.none {
    color: var(--colors-tarkovBullet-none) !important;
}

.hide {
    display: none !important;
}
